@import "./reset.scss";

.euro {
  
  &__container {
    background-image: url(../images/euro.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  }
 
  &__info {
  }
  &__title {
  }
}
