@import "./reset.scss";

.euroList {
  background-image: url(../images/euro.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 60px;

  display: flex;
  flex-direction: column;

  &__title {
    display: flex;
    justify-content: center;
    padding: 30px;
    color: orange;
    text-transform: uppercase;
  }
  &__list {
    padding: 10px;
  }

  &__containerYears {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    list-style: none;
  }
  &__button {
    padding: 25px;
    cursor: pointer;
    font-size: 20px;
    -webkit-box-shadow: 0px 0px 12px 3px #000000;
    box-shadow: 0px 0px 12px 3px #000000;
  }
  &__containerTitle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__backBtn {
    padding: 8px;
    cursor: pointer;
  }
}
