@import "./reset.scss";

.header {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;

  &__title {
  }
  &__icon {
    font-size: 30px;
    margin-left: 30px;
  }
  &__titleMundial {
    color: white;
  }
}
