@import "./reset.scss";

.mundialList {
  background-image: url(../images/mundial.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  &__title {
    display: flex;
    justify-content: center;
    color: orange;
  }
  &__list {
    padding: 10px;
  }

  &__containerYears {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  &__button {
    padding: 20px;
  }
}
