@import "./reset.scss";

.mundial {
  &__container {
    background-image: url(../images/mundial.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__info {
    color: white;
  }
  &__title {
    color: white;
  }
}
