@import "./reset.scss";

.mundial {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  &__info {
  }
  &__title {
  }
}
